body {
  margin: 0;  
  font-family: 'Rubik';
  background: #F5F5F5;
  text-align: center;
  box-sizing: border-box;
}

.box{
  width: 550px;
  background: #fff;
  top:170px;
  position: relative;
  border-radius: 10px;
  padding:10px 10px 10px 10px;
  margin: 0 auto 0 auto;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

input {
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#enter_pin{
    background: #2ecc71;
	width: 85%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	height: 50px;
	border-radius: 4px;
	border: #27ae60 1px solid;
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
}

@media only screen and (max-height:350px){
    .box{
        width:98%;
		height:98%%;
		top:5px;
    }
}