body {
  margin: 0;  
  font-family: 'Rubik';
  background: #F5F5F5;
  text-align: center;
  box-sizing: border-box;
}

#loading_div {
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
}

#loading_text {
	font-size: 70px;
}

@media only screen and (max-height:300px) {
	#loading_div {
		width: 300px;
		height: 50%;
		min-height: 300px;
		position: relative;
		top: 70%;
	}
	#loading_text {
		font-size: 40px;
	}
}