body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik';
  background: white;
  box-sizing: border-box;
  overflow: hidden;
}

.overall-correct {
	float: left;
}

#report_exit_button {
	z-index: 1;
	float: right;
    top: 3%;
    position: absolute;
    right: 3%;
}

#leaderboard_container {
	position: absolute;
    width: 100%;
    top: 10px;
	text-align: center;
}

.scoreboard-group {
	max-height: 230px;
    margin-bottom: 10px;
    overflow-y: scroll;
    position: absolute;
    width: 94%;
    top: 80%;
    left: 3%;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.list-group{
	max-height: 300px;
    margin-bottom: 10px;
    overflow-y: scroll;
    position: absolute;
    width: 94%;
    top: 300%;
    left: 3%;
	padding: 15px 20px 20px 20px;
    border-radius: 15px;
    background: #F2F2FB;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
display: none;
}

#list_items {
	margin-top: 10px;
}

#select_menus {
	position: absolute;
    top: 30%;
    float: left;
    left: 3%;
}

.option_forms {
	display: inline-block;
}