body {
	  margin: 0;  
  font-family: 'Rubik';
  background: #ffa500;
  text-align: center;
  box-sizing: border-box;
}

.trainer_top3_bg {
    background-color: #ffa500;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}

#leaderboard_container {
	position: absolute;
    width: 100%;
    top: 200px;
}

td {
	font-size: 25px;
}

#next_button {
	float: right;
    top: 20%;
    position: absolute;
    right: 3%;
}

@media only screen and (max-width: 750px) {
  #next_button {
  	top: 35%;
  }
}

@media only screen and (max-width: 700px) {
  #next_button {
  	font-size: 10px;
  }
}